<%layout("/layout/boilerplate")%>

<body>
<div class="filters">
  <div class="filter">
    <div><i class="fa-solid fa-bed"></i></div>
    <p>Rooms</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-fire"></i></div>
    <p>Tranding</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-city"></i></div>
    <p>Iconic Cities</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-mountain-city"></i></div>
    <p>Mountains</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-umbrella-beach"></i></div>
    <p>Beach</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-mountain-sun"></i></div>
    <p>Amazing View</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-person-swimming"></i></div>
    <p>Pool</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-snowflake"></i></div>
    <p>Snow</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-tree-city"></i></div>
    <p>Tree Cities</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-cow"></i></div>
    <p>Farms</p>
  </div>
</div>

<div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 g-4">
  <% allListings.forEach((listing) => { %>
    <a href="/listings/<%= listing._id %>" class="text-decoration-none text-dark">
    <div class="col">
      <div class="card listing-card h-100">
        <img class="card-img-top" src="<%= listing.image %>" alt="Listing Image">

        <div class="card-body">
          <h5 class="card-title"><%= listing.title %></h5>
          <p class="card-price">₹<%= listing.price %> <span>/ night</span></p>
        </div>
      </div>
    </div>
  <% }) %>
</div>


</body>






